/*
votequick - a quick and dirty voting app
Copyright (C) 2016 Jason Schmidt

This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

#loader {
  text-align: center;
}

.hide {
  display: none;
}

@media print {
  .hide-print {
    display: none;
  }
}

@media screen {
  #help {
    position: absolute;
    top: 0;
    right: 0;
  }

  .self {
    color: blue;
  }

  #current-container {
    margin-bottom: 5em;
  }

  #current-results {
    margin-bottom: 1em;
  }

  .small {
    font-size: smaller;
    color: darkgrey;
  }

  .button-tight {
    margin: auto auto auto 1em;
    padding: 0.5em;
    line-height: 1em;
    height: auto;
  }

  .statistics {
    margin-top: 2.5rem; /* to match paragraph bottom */
    margin-bottom: 0; /* to restore distance between text and horizontal rule */
  }

  #clear-history {
    margin-top: 1em;
  }

  #countdown {
    font-size: 5.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    font-weight: 300;
  }

  #legend {
    color: darkgray;
    padding: 0.5em;
    border: 1px solid darkgray;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  }
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
.button.button-primary[disabled],
button.button-primary[disabled],
input[type="submit"].button-primary[disabled],
input[type="reset"].button-primary[disabled],
input[type="button"].button-primary[disabled] {
  background-color: #D1D1D1;
  border-color: #D1D1D1;
}
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="text"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled],
input[type="email"]:focus[disabled],
input[type="number"]:focus[disabled],
input[type="search"]:focus[disabled],
input[type="text"]:focus[disabled],
input[type="tel"]:focus[disabled],
input[type="url"]:focus[disabled],
input[type="password"]:focus[disabled],
textarea:focus[disabled],
select:focus[disabled] {
  border-color: #D1D1D1;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 255, 0, 0.2);
  border-right: 1.1em solid rgba(0, 255, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 255, 0, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
